---
import Layout from '../layouts/Layout.astro'
const title = 'About Muhammad Ibrahim'
---

<Layout title={title}>
  <div class="about-container">
    <p>
      Hi there, I'm Muhammad Ibrahim, a marketer based in Cairo, Egypt. My marketing career started
      in 2015 as a seo specialist, then I wore many hats, as a marketing specialist, strategist and
      copywriter. In the process I learned that there's a value to being a generalist, mainly seeing
      the big picture that's rarely the center of attention, yet has the power of transforming your
      entire business, for better or worse.
    </p>
  </div>
</Layout>

<style>
  .about-container {
    margin-top: 3rem;
    width: 80%;
  }
</style>
