---
import Layout from '../layouts/Layout.astro'
const title = 'The pixelated thoughts of Muhammad Ibrahim'
const articles = await Astro.glob('../pages/articles/**/*.mdx')
---

<Layout title={title}>
  {
    articles.map((article) => (
      <div class="snippet-container">
        <a href={`/articles/${article.frontmatter.slug}`} class="article-title">
          {article.frontmatter.title}
        </a>
        <span class="date">{article.frontmatter.pubDate.slice(0, 10)}</span>
      </div>
    ))
  }
</Layout>

<style>
  .snippet-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1rem;
    width: 80%;
    /* margin-bottom: 3rem; */
  }

  .date {
    color: var(--color-dark-neutral);
    font-size: 1rem;
    font-weight: 200;
  }

  .article-title {
    color: var(--color-primary-main);
    text-decoration: underline 0.2rem var(--color-primary-main);
    text-underline-offset: 0.7em;
    line-height: 2rem;
    max-width: 55ch;
    /* text-decoration-skip-ink: none; */

    &:hover {
      color: var(--color-dark-main);
      text-decoration-color: var(--color-dark-main);
      transition: all 0.2s ease-in;
    }
  }
</style>
